[user]
	email = phuclaplace@gmail.com
	name = ppvan
	signingkey = /home/ppvan/.ssh/primary_github_key.pub
[init]
	defaultBranch = main
[core]
	autocrlf = input
[gpg]
	format = ssh
[commit]
	gpgsign = true
[includeIf "gitdir:/home/ppvan/Documents/code/work/"]
	path = /home/ppvan/Documents/code/work/.gitconfig-work
[http]
	postBuffer = 157286400
