[user]
	email = phuclaplace@gmail.com
	name = ppvan
	signingkey = /home/ppvan/.ssh/id_rsa.pub
[init]
	defaultBranch = main
[core]
	autocrlf = input
[commit]
	gpgsign = false
[includeIf "gitdir:/home/ppvan/Documents/code/work/"]
	path = /home/ppvan/Documents/code/work/.gitconfig-work
[http]
	postBuffer = 157286400
