@define-color accent #57a0d9;
@define-color background #19171a;
@define-color cards #201e21;
@define-color fg #d8dee9;
@define-color sfg #2c292e;
@define-color imgcol linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));

* {
    font-family: "Iosevka Term";
}

window {
    background-color: transparent;
    color: @fg;
}

#input {
    margin: 5px;
    background: @cards;
    color: @fg;
}

#entry {
    /* border: 1px red solid; */
    border-radius: 8px;
}

#entry:selected {
    background: @accent;
}

#inner-box {
    margin: 5px;
    background-color: @background;
    border-radius: 12px;
}

#outer-box {
    background-color: @background;
    margin: 8px;
    border-radius: 8px;
    border: 2px solid @sfg;
}

#text {
    margin-left: 8px;
}

#text:selected {
	 margin-left: 8px;
	 color: @sfg;
}
